body {
    background-color: #7EBDC2;
    color: #231F20; 
    font-family: Lato;
}

#albumsContainerID  {
    padding: 20px;
}

nav {
    background-color: #BB4430;
    padding: 10px;
}

nav a { 
    color:rgb(243, 226, 175);
    font-size: 25px;
}

h1 {
    color:#BB4430;
    text-align: center;
    padding: 20px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgb(243, 226, 175);
    border-width: 10px;
}

#albums {
    background-color: rgb(233, 220, 220);
    padding: 10px;
    border-style: solid;
    border-color: rgb(243, 226, 175);
}

#albums span,
button {
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    background-color: #BB4430;
    color:rgb(243, 226, 175);
    width: 130px;
}

#albums button {
    border: 0px;
    margin-left: 10px;
    font-family: Lato;
    font-size: 15px;
    background-color:rgb(243, 226, 175);
    color: #BB4430;
    cursor: pointer;
}

.loadedPhotos {
    padding: 10px;
    margin-top: 15px;
    background-color:rgb(243, 226, 175); 
}

#myForm {
    font-family: Lato;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    background-color:rgb(243, 226, 175); 
}

#myForm label {
    font-size: 20px;
    margin-bottom: 10px;
    color: #231F20; 
}

label {
    font-weight: bold;
}

#userTitle {
    margin-bottom: 20px;
}

#userTitle, #userContent {
    padding: 5px;
    background-color:rgb(233, 220, 220);
}

#submitForm {
    color:rgb(243, 226, 175);
    background-color: #BB4430;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
}

.error {
    color: red;
    font-weight: bold;
}

.correct {
    color: green;
    font-weight: bold;
}